---
layout: default
title: SPEL | Space and Planetary Exploration Laboratory
---
{% for post in site.posts %}
{% if post.title == "Home" %}
{% assign home_page = post %}
{% endif %}
{% endfor %}

<!-- Banner image -->
<div class="pure-g">
    <div class="pure-u-1-1">
        <p><img class= "pure-img img-center" src={{home_page.banner}}></p>
    </div>
</div>

<!-- Columns with research fields -->
<div class="pure-g content t-box">
    <div class="pure-u-1-1"><h2 class="text-center">{{home_page.tagline}}</h2></div>
    <!--3 Columns Section -->
    <div class="pure-u-1-4 l-box">
        <h3><i class="fa fa-rocket"></i>
            Space
        </h3>
        <p>
            {{home_page.space}}
        </p>
    </div>
    <div class="pure-u-1-4 l-box">
        <h3><i class="fa fa-globe"></i>
            Geosciences
        </h3>
        <p>
            {{home_page.geoscience}}
        </p>
    </div>
    <div class="pure-u-1-4 l-box">
        <h3 class="content-subhead">
            <i class="fa fa-power-off"></i>
            Analog Design
        </h3>
        <p>
            {{home_page.devices}}
        </p>
    </div>
</div>

<!-- Long description -->
<div class="pure-g l-box c-box">
    <!-- Text -->
    <div class="pure-u-3-5 content">
        <h2>Description</h2>
        <p>{{home_page.content}}</p>
    </div>
    <!-- Image -->
    <div class="pure-u-2-5">
        <img class="pure-img img-center" alt="Lab" width="300" src="/images/home/spel_lab.jpg">
    </div>
</div>
