/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #6b7d9b;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";


code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit; padding-left:0;}
article.list {padding-bottom:0;padding-top:0;}
figcaption { text-align: center; font-size: 80%; color:#333; }