---
layout: page
---

<div class="pure-g">
    {% for member in page.team %}
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
        <div class="text-center">
            <img class="pure-img img-center" src="{{member.profile}}">
            <h3 class="h1-about">{{member.name}}</h3>
            <h4 class="h2-about">{{member.grade}}</h4>
            <p class="p-bout content">{{member.bio}}</p>
            <ul class="ul-about">
                {% if member.mail %}<a class="pure-button pure-button-primary" href={{member.mail}}><i class="fa fa-envelope"></i></a>{% endif %}
                {% if member.linkedin %}<a class="pure-button pure-button-primary" href={{member.linkedin}}><i class="fa fa-linkedin-square"></i></a>{% endif %}
                {% if member.github %}<a class="pure-button pure-button-primary" href={{member.github}}><i class="fa fa-github-square"></i></a>{% endif %}
            </ul>
        </div>
        </div>
    {% endfor %}
</div>
